@charset "UTF-8";

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*height: 100%;*/
}

body{
    text-align: center; 
    font-size: 1.5em;
    background-image: linear-gradient(to right, #D4FBFF, #8fd6d69a, #73fafa9a);
    }
main {
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 15px #0748618c;
        width: 600px;
        padding: 10px;
        margin: auto
}
h1{ text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    text-shadow: salmon;
    color: rgb(19, 59, 146);
}